AIRFLOW_UID=1000
NOAA_TOKEN=vRjAjwJFpOhEFAXcCysmHAYuKQaFivpY
_AIRFLOW_WWW_USER_USERNAME=asaakov
_AIRFLOW_WWW_USER_PASSWORD=Yay&123
AIRFLOW__CORE__FERNET_KEY=9zuynUFXOYOId-NGIJod5Cj-YADPnq9mF-SrA_B8TQY=\
AIRFLOW__API__SECRET_KEY=tP+tD+5VisB/q6kpYDMArg==
AIRFLOW__API_AUTH__JWT_SECRET=NSbWXxwz1pKkbgoElL/BHA==
